<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.mapper.sys.LoggerMapper">

    <insert id="saveLog" parameterType="java.util.List">
        INSERT INTO test_log(`name`) VALUES
        <foreach collection="logs" index="i" item="log" separator="," open="(" close=")">
            #{log.name}
        </foreach>
    </insert>

</mapper>