<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config/jdbc.properties" />

    <environments default="commonMybatis">
        <environment id="commonMybatis">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/data/BookMapper.xml"/>
        <mapper resource="mapper/data/BjxMapper.xml"/>
        <mapper resource="mapper/data/BuddhistMapper.xml"/>
        <mapper resource="mapper/data/M3U8Mapper.xml"/>
        <mapper resource="mapper/data/PicMapper.xml"/>
        <mapper resource="mapper/sys/UserMapper.xml"/>
    </mappers>

</configuration>